{% extends "layout/base.html" %}

{% block title %} - Gráficos{% endblock %}

{% block content %}

<!--header-->
<header>
  <div id="logo">
    <img class="icon-header" src="../static/imgs/pulmao.png">
    <h1>DPOC</h1>
  </div>
</header>

<!--menu lateral-->
<div id="menu">
  <nav>
    <ul>
      <li>
        <img class="icon-menu" src="../static/imgs/casa.png">
      </li>
      <li>
        <img class="icon-menu" src="../static/imgs/mapa-brasil.png">
      </li>
      <li>
        <img class="icon-menu" src="../static/imgs/grafico-de-pizza.png">
      </li>
      <li>
        <img class="icon-menu" src="../static/imgs/grafico-de-barras.png">
      </li>
      <li>
        <img class="icon-menu" src="../static/imgs/planilhas-do-google.png">
      </li>
    </ul>
  </nav>
</div>

<!--conteúdo principal-->
<main id="content-main">
  <section id="cards">
    <div class="card borda">
      <div class="card-conteudo" id="card-titulo-cid">Cid</div>
      <div class="card-conteudo" id="card-descricao-cid">DPOC</div>
      <div class="card-conteudo" id="card-numero-cid">Número</div>
    </div>
    <div class="card borda">
      <div class="card-conteudo" id="card-titulo-genero">Gênero</div>
      <div class="card-conteudo" id="card-descricao-genero">Todos</div>
      <div class="card-conteudo" id="card-numero-genero">Número</div>
    </div>
    <div class="card borda">
      <div class="card-conteudo" id="card-titulo-municipio">Município</div>
      <div class="card-conteudo" id="card-descricao-municipio">Todos</div>
      <div class="card-conteudo" id="card-numero-municipio">Número</div>
    </div>
    <div class="card borda">
      <div class="card-conteudo" id="card-titulo-uf">UF</div>
      <div class="card-conteudo" id="card-descricao-uf">Todos</div>
      <div class="card-conteudo" id="card-numero-uf">Número</div>
    </div>
    <div class="card borda">
      <div class="card-conteudo" id="card-titulo">Título</div>
      <div class="card-conteudo" id="card-descricao">Descrição</div>
      <div class="card-conteudo" id="card-numero">Número</div>
    </div>
  </section>
  <section id="graficoMapa" class="borda">
    <iframe src="../static/assets/map.html"></iframe>
  </section>
  <section id="graficoPizza" class="borda">
    <img src="../static/imgs/deletepizza.png">
  </section>
  <section id="graficoBarras" class="borda">
    <img src="../static/imgs/deletebarras.png">
  </section>
</main>

<!--footer-->
<footer>
  <p>Copyright &copy 2022 de <strong> Química 4.0</strong></p>    
</footer>
{% endblock %}

